# 默认文本文件自动识别
* text=auto

# C/C++
*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf

*.cmake text eol=lf
CMakeLists.txt text eol=lf

.editorconfig text eol=lf
.clang-format text eol=lf
.clang-tidy text eol=lf

# Shell
*.sh text eol=lf

# Windows脚本
*.bat text eol=crlf
*.cmd text eol=crlf

# 文档
*.md text eol=lf
*.txt text eol=lf

# 二进制
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.so binary
*.dll binary
*.a binary
